body
{
    background-color: orange;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", 'Times New Roman', Times, serif;
    overflow-wrap: break-word;
}
.comic
{
    font-family: "Comic Sans MS";
}
p
{
    margin-top: 0;
    margin-bottom: 0;
}