body
{
    background-color: white;
    font-family: "Comic Sans MS", "Comic Sans", 'Times New Roman', Times, serif;
    overflow-wrap: break-word;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

.center
{
    text-align: center;
}

p
{
    margin-top: 0;
    margin-bottom: 0;
}